
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Dosis&family=Edu+QLD+Beginner:wght@500&family=Josefin+Sans:ital,wght@0,500;1,300&family=Libre+Baskerville:ital@1&family=Poppins:wght@300&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-image: url("https://uiocean.com/themeforest/react/krinky-tailwind/"); */
}
body{
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/075/185/non_2x/abstract-pink-low-poly-background-texture-vector.jpg");
}
/*--------------------------------------------------------------------------------------------
START-NAVBAR-SECTION
----------------------------------------------------------------------------------------------*/
.main-nav{
  width: 100%;
  height: 5rem;
  display: grid;
  grid-template-columns: 5rem 1.5fr 2fr 1fr 5rem;
  background: fixed;
 /* position: fixed; */
}
.logo {
  display: grid;
  grid-column: 2/3;
  /* background-color: antiquewhite; */
  justify-content: start;
  /* align-items: center; */
  text-align: center;
}
.logo h2 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, rgb(69, 57, 248));
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.logo h2 span {
  font-size: 3.5rem;
}
.menu-link{
  grid-column: 3/4;
}
.menu-link ul{
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

}
.menu-link ul li{
  text-transform: uppercase;
  cursor: pointer;
  color: #010B13;
  transition: 0.5s;
}
.menu-link ul li:hover{
  transform-origin: left;
  color: #26619C;
  text-decoration: underline;
  transition: 0.5s;
}
.social-media{
  grid-column: 4/5;

}
.social-media ul{
  height: 5rem;
  display: grid;
  grid-template-columns: 3fr repeat(3,1fr);
  align-items: center;
  /* justify-content: flex-end; */
}
.social-media ul li{
  list-style: none;
  text-align: right;
  font-size: 1.5rem;
  cursor: pointer;
}
.social-media ul li:first-child{
  grid-column: 2/3;
}
/* .social-media li{
  border: 1px solid black;
} */
.instagram{
  color: rgb(244, 16, 198);
  border: 2px solid blue;
  background-color: white;
  border-radius: 50px;
}
.facebook{
  color: rgb(106, 106, 239);
  border: 2px solid blue;
  background-color: white;
  border-radius: 50px;
}
.twitter{
  color: rgb(106, 106, 239);
  border: 2px solid blue;
  background-color: white;
  border-radius: 50px;
}
.youtube{
  color: red;
  border: 2px solid blue;
  /* background-color: blue; */
  border-radius: 50px;
  background-color: white;
}
 .social-media .mobile-version-menu{
  
  display: none;
}
/*--------------------------------------------------------------------------------------------
RESPONSIVE-NAVBAR
----------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------------
END-NAVBAR-SECTION
----------------------------------------------------------------------------------------------*/





/*--------------------------------------------------------------------------------------------
START-HOME-PAGE
----------------------------------------------------------------------------------------------*/
.home-main-container{
  /* background-color: red; */
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-first-child{
  /* background-color: blue; */
  position: absolute;
  height: 60vh;
  width: 40%;
  left: 5rem;
  /* top: 10rem; */

}
.home-first-child h2 {
  font-size: 1.3rem;
  font-weight: 200;
  /* text-transform: uppercase; */
  background: -webkit-linear-gradient(black,black);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5rem;
  font-family: 'Dancing Script', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Edu QLD Beginner', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Poppins', sans-serif;
}

.home-first-child h2 span {
  font-size: 3.5rem;
  text-transform: uppercase;
}
.home-first-child h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  background: -webkit-linear-gradient(black,black);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1.5rem;
}
.home-first-child p {
  /* font-size: 1.5rem; */
  /* font-weight: 400; */
  text-transform: uppercase;
  background: -webkit-linear-gradient(black,black);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 2rem;
}

.home-second-child{
  /* background-color: green; */
  background-image: url("../public/mainImage.png");
  position: absolute;
  height: 60vh;
  width: 40%;
  right: 5rem;
  background-size:100% 100%;
 
}
.home-button{
  font-size: 20px;
  width: 25%;
  background-color: black;
  color: white;
  text-transform: uppercase;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 3rem;
  /* margin-left: 1rem; */
  box-shadow: 5px 5px orange;
}
.home-button:hover{
  background-color: orange;
  box-shadow: 5px 5px black;
}



.blog-main-container{
  background-color: bisque;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
  font-size: 30px;
  /* grid-template-columns: 10px 1fr 1fr 1fr 1fr 1fr 1fr 10px; */
}

.about-main-container{
  /* background-color: red; */
  height: 10rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-main-container h1{
  text-transform: uppercase;
  font-size: 2.5rem;
  word-spacing: 10px;
  border-bottom: 5px solid blue;
} 
.about-us{
  /* background-color: red; */
  /* position: relative; */
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.about-first-child{
  /* background-color: blue; */
  height: 60vh;
  width: 50%;
}
.about-first-child h3{
  color: rgb(45, 44, 44);
  font-family: 'Dancing Script', cursive;
  font-family: 'Dosis', sans-serif;
  font-family: 'Edu QLD Beginner', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}
.about-second-child{
  /* background-color: yellow; */
  height: 60vh;
  width: 50%;
  /* text-align: center; */
 
}
.about-second-child h3{
  color: rgb(45, 44, 44);
  font-family: 'Dancing Script', cursive;
  font-family: 'Dosis', sans-serif;
  font-family: 'Edu QLD Beginner', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}
.about-second-child button{
  font-size: 20px;
  width: 25%;
  background-color: rgb(85, 85, 166);
  color: white;
  text-transform: uppercase;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 3rem;
  /* margin-left: 1rem; */
  box-shadow: 5px 5px orange;
  margin-left: 20px;
}
.about-second-child button:hover{
  background-color: orange;
  box-shadow: 5px 5px rgb(85, 85, 166);
}
.about-image{
  
  height: 70vh;
  width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-around;
  /* text-align: center; */
}
.about-image h1{
  background-image:url("../public/aboutImage.png");
  width: 55%;
  height: 70vh;
  background-size: 100% 100%;
}

.contact-main-container{
  /* background-color: red; */
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact-main-container h1{
  text-transform: uppercase;
  font-size: 2.5rem;
  word-spacing: 10px;
  border-bottom: 5px solid blue;
}
.contact-me{
  height: 75vh;
  width: 100%;
  /* background-color: red; */
  position: relative;
  /* display: flex;
  align-items: center; */
  /* justify-content: space-between; */
}
.contact-first-child{
  position: absolute;
  height: 80vh;
  width: 50%;
  /* text-align: center; */
  /* background-color: blue; */
  /* text-align: center; */
  /* display: grid; */
/* display: grid;
align-items: center;
justify-content: space-around; */
  /* justify-content: space-around; */
}
.contact-first-child input{
  width: 70%;
  height: 8%;
  display: block;
  /* background-color:green; */
  /* margin-left: 50px; */
  margin-top: 20px;
  margin-left: 55px;
  font-size: 15px;
  border: none;
  box-shadow: 5px 5px rgb(96, 93, 93);
  border-radius: 5px;
}
.contact-first-child textarea{
  width: 70%;
  height: 8%;
  display: block;
  border-radius: 5px;
  box-shadow: 5px 5px rgb(96, 93, 93);
  /* background-color:green; */
  /* margin: 50px; */
  font-size: 15px;
  margin-top: 20px;
  margin-left: 55px;
  border: none;
}
.contact-second-child{
  position: absolute;
  height: 50vh;
  width: 50%;
  right: 0;
  /* background-color: yellow; */
  /* text-align: ; */
}
.contact-button{
  font-size: 25px;
  width: 25%;
  background-color: white;
  color: black;
  text-transform: uppercase;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
  /* margin-left: 1rem; */
  box-shadow: 5px 5px black;
  margin-left: 50%;
}
.contact-button:hover{
  background-color: black;
  box-shadow: 5px 5px white;
  color: white;
}
.contact-first-child input:hover{
  background-color: rgb(96, 93, 93);
  box-shadow: 5px 5px white;
  color: white;
}
.contact-first-child textarea:hover{
  background-color: rgb(96, 93, 93);
  box-shadow: 5px 5px white;
  color: white;
}
.contact-second-child{
  /* background-color: red; */
  /* padding-left: 20px; */
  width: 40%;
}

.contact-second-child {
  display: grid;
  /* grid-column: 2/3; */
  /* background-color: antiquewhite; */
  justify-content: start;
  /* align-items: center; */
  /* text-align: center; */
}
.contact-second-child h2 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, rgb(69, 57, 248));
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.contact-second-child h2 span {
  font-size: 3.5rem;
}
.contact-second-child h3{
  /* background-color: green; */
  /* padding-left: 50px; */
  /* padding: 50px; */
  height: 100px;
  /* padding-top: 20px; */
  font-size: 1.3rem;
  font-weight: 200;
  /* text-transform: uppercase; */
  background: -webkit-linear-gradient(black,black);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 2rem;
  font-family: 'Dancing Script', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Edu QLD Beginner', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Poppins', sans-serif;
  
}
.contact-social-media{
  /* background-color: blue; */
  /* text-align: center; */
  display: flex;
  /* height: 50px; */
  /* align-items: center; */
  /* padding-left: 40px; */
}
.contact-social-media h1{
  margin-left: 20px;
  cursor: pointer;
  border: 2px solid blue;
  font-size: 30px;
  border-radius: 50%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: white;
  /* background-color: blue; */
}
.number{
  /* background-color: red; */
  height: 100px;
  /* padding-top: 10px; */
  /* font-size: 20px; */
}
.number h3{
  font-size: 40px;
  color: rgb(79, 75, 75);
}
.service-main-container{
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.service-main-container h1{
  text-transform: uppercase;
  font-size: 2.5rem;
  word-spacing: 10px;
  border-bottom: 5px solid blue;
}
.card-main-container{
  
  /* background-color: red; */
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 100px;
  /* text-align: center; */
}
.card{
  background-color: white;
  width: 300px;
  border-radius: 10px;
  margin-left: 45px;
  -webkit-box-shadow: -1px 2px 13px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 13px 1px rgba(0,0,0,0.75);
box-shadow: -1px 2px 13px 1px rgba(0,0,0,0.75);
  /* height: 60vh;
  width: 25%;
 
  */
  /* display: flex; */
  
}
.card:hover{
  -webkit-box-shadow: -1px 2px 13px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 13px 1px rgba(0,0,0,0.75);
box-shadow: -1px 2px 13px 1px rgba(0,0,0,0.75);
background-color: rgb(250, 199, 106);
}
.card-icon{
  /* background-color: red; */
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  /* border-radius: 10px; */
}
.icon{
  font-size: 50px;
  /* width: 150px; */
  /* background-color: red; */
}
.card-name{
  /* background-color:yellow; */
  height: 35vh;
  text-align: center;
}
.card-name h2{
  height: 10vh;
  text-transform: uppercase;
  font-family: 'Dancing Script', cursive;
  font-family: 'Dosis', sans-serif;
  font-family: 'Edu QLD Beginner', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Poppins', sans-serif;
  /* word-spacing: 5px; */
  letter-spacing: 5px;
}
.card-name p{
  /* background-color: red; */
  height: 25vh;
  text-align: left;
  padding-left: 20px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-around; */
}
/*--------------------------------------------------------------------------------------------
RESPONSIVE-website
----------------------------------------------------------------------------------------------*/


@media only screen and (max-width: 1000px) {
  .main-nav{
    height: 4rem;
    grid-template-columns: 2rem 1.5fr 3fr 1fr 2rem;
  }
  .logo h2 {
    font-size: 1rem;
    font-weight: 400;
    
  }
  
  .logo h2 span {
    font-size: 3rem;
  }
}


@media only screen and (max-width:700px){
  .main-nav {
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link {
    display: none;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: white;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .mobile-version-menu {
    display: block;
    font-size: 2.5rem;
  }
  .home-main-container{
    /* height: 150vh; */
    justify-content: space-between;
    align-items: center;
    display: flex;
    /* background-color: yellow; */
    position: relative;
    height: 150vh;
    flex-direction: column;
    /* align-items: center; */
    /* padding-left: 100px; */
  
  }
  .home-first-child{
   /* margin-top:"5rem"; */
    /* background-color: red; */
    position: absolute;
    /* margin-left: 150px; */
    width: 100%;
    text-align: center;
    left: 0;
   
    
  }
  .home-second-child{
    top: 70vh;
    left: 10%;
    /* position: absolute; */
    /* background-color: green; */
    width: 100%;
    text-align: center;
  }
  .about-us{
    display: grid;
    /* background-color: red; */
    
  }
  .about-first-child{
    width: 100%;
    padding: 50px;
  }
  .about-second-child{
    width: 100%;
    padding: 50px;
  }
  .about-image{
   margin-top:25rem;
  }
  .contact-me{
    /* display:table-column; */
    display: block;
    width: 100%;
    /* background-color: red; */
  }
  .contact-first-child{
    width: 100%;
  }
  .contact-first-child input {
    width: 100%;
    font-size: 20px;

  }
  .contact-first-child textarea{
    width: 100%;
    font-size: 20px;
  }
  .contact-second-child{
    width: 100%;
    top: 65vh;
    padding-left: 50px;
  }
  .service-main-container{
    margin-top: 50%;
    justify-content: space-around;
    /* text-align: center;/ */
    /* height: 30vh; */
  }
  .card-main-container{
    justify-content: center;
  }
  .card{
    width: 400px;
  }
}
