/* 
  .header{
    background-color: red;
    position: relative;
  }
  .logo{
    background-color: blue;
    width: 40%;
  }
  .manu{
    background-color: yellow;
    width: 60%;
    left: 40%;
    top: 0;
    
  } */